// Importação dos Mixins.
@use '../../../assets/mixins' as *;

/*--- Importa as variáveis e mixins globais ---*/
@import '../../../styles.scss';

/*-------------------- TODA A PÁGINA --------------------*/
.dashboard {
  background-color: var(--azul-escuro-dk);
  transition: background-color 0.3s ease;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 100px 1.5rem 1.5rem 1.5rem; 

  @include tela-media {
    padding: 120px 3rem 3rem 3rem;
  }

  @include tela-grande {
    padding: 130px 4rem 4rem 4rem;
  }

  &.tema-claro {
    background-color: var(--branco-lt); 
  }
}

/*-------------------- A BANDEJA (GRID BENTO BOX) --------------------*/
.dashboard-grid {
  display: grid;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;

  /* 📱 MOBILE (Mobile-First): 1 Coluna */
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;

  /* 💻 TABLET: 2 Colunas (Esquerda menor, Direita livre) */
  @include tela-media {
    grid-template-columns: minmax(250px, 290px) 1fr; 
    gap: 2.5rem;
    align-items: start; /* Para os cards não esticarem para baixo sozinhos */
  }

  /* 🖥️ DESKTOP: 3 Colunas (Laterais fixas, Meio livre) */
  @include tela-grande {
    grid-template-columns: minmax(250px, 290px) 1fr minmax(280px, 350px);
    gap: 3rem;
  }
}

/*-------------------- BLOCOS DO GRID --------------------*/

app-card-perfil {
  display: block; 
  
  /* Mobile: Força a ser o 1º da fila */
  order: 1; 

  @include tela-media {
    /* 💻 Tablet: Coluna 1 (Esquerda), Linha 1 (Topo) */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    order: unset; 
  }

  @include tela-grande {
    /* 🖥️ Desktop: Mantém na Coluna 1 */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

app-minutes-listened {
  display: block;
  
  /* Mobile: Força a ser o 2º da fila (passando na frente das músicas) */
  order: 2;

  @include tela-media {
    /* Tablet: Coluna 1 (Esquerda), Linha 2 (Abaixo do Perfil) */
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center; /* Centraliza ele direitinho embaixo da foto */
    order: unset;
  }

  @include tela-grande {
    /* Desktop: Coluna 3 (Direita), Linha 1 (Topo) */
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: start; 
  }
}

app-top-musicas {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 0; 
  
  /* Mobile: Força a ser o 3º da fila (Vai pro final) */
  order: 3;

  @include tela-media {
    /* Tablet: Coluna 2 (Direita). Ocupa as linhas 1 e 2 (Fica altão) */
    grid-column: 2 / 3;
    grid-row: 1 / 3; 
    order: unset;
  }

  @include tela-grande {
    /* Desktop: Coluna 2 (Meio), Linha 1 (Topo) */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}