<main class="dashboard" [ngClass]="{'tema-claro': !modoEscuro}">

  <canvas #radarCanvas class="radar-canvas"></canvas>

  <div class="dashboard-content">
    <app-header 
      [nomeUsuario]="nomeUsuario" 
      [fotoPerfil]="dadosDemograficos.foto_perfil"
      [modoEscuro]="modoEscuro"
      (onAlternarTema)="alternarTema()"
      (onLogout)="fazerLogout()">
    </app-header>

    <div class="dashboard-grid">

      <app-card-perfil 
        [nomeUsuario]="nomeUsuario"
        [dadosDemograficos]="dadosDemograficos"
        [modoEscuro]="modoEscuro">
      </app-card-perfil>

      <app-top-musicas></app-top-musicas>

      <app-minutes-listened [totalMinutos]="minutosTotais"></app-minutes-listened>

      <app-top-artistas *ngIf="emailUsuario" [email]="emailUsuario"></app-top-artistas>

    </div>
  </div>

  <app-player-container></app-player-container>

</main>