// Importação dos Mixins.
@use '../../../assets/mixins' as *;

/*--- Importa as variáveis e mixins globais ---*/
@import '../../../styles.scss';

/*-------------------- TODA A PÁGINA --------------------*/
.dashboard {
  background-color: var(--azul-escuro-dk);
  transition: background-color 0.3s ease;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 100px 1.5rem 1.5rem 1.5rem; 

  @include tela-media {
    padding: 120px 3rem 3rem 3rem;
  }

  @include tela-grande {
    padding: 130px 4rem 4rem 4rem;
  }

  &.tema-claro {
    background-color: var(--branco-lt); 
  }
}

/*-------------------- A BANDEJA (GRID BENTO BOX) --------------------*/
.dashboard-grid {
  display: flex;
  flex-direction: column; // Celular: um em cima do outro
  gap: 2rem;
  width: 100%;
  max-width: 1500px; // Limite elegante para o PC
  margin: 0 auto;

  @include tela-media {
    flex-direction: row; // PC: Lado a lado
    align-items: flex-start; 
    justify-content: center;
    gap: 2.5rem;
  }
}

/*-------------------- BLOCOS DO GRID --------------------*/
app-card-perfil {
  /* Garante que o Angular trate esse componente como um bloco para não amassar no flex */
  display: block; 
  flex-shrink: 0;
}

app-top-musicas {
  flex: 1; 
  width: 100%;
  min-width: 0; // Evita quebra de layout em telas médias
  display: flex;
  justify-content: center;
}

/* Garante que o card de minutos se comporte como uma coluna à direita */
app-minutes-listened {
  flex-shrink: 0; // Impede que o card seja esmagado pelo Top 10
  width: fit-content;
}