<div class="tunify-player">
    <div class="track-info">
        <img [src]="albumCover" class="album-art" alt="Capa do Álbum">
        <div class="details">
            <h4>{{ trackName }}</h4>
            <p>{{ artistName }}</p>
        </div>
        <i class="fa-regular fa-square-plus add-icon"></i>
    </div>

    <div class="controls-center">
        <div class="buttons">
            <i class="fa-solid fa-shuffle"></i>
            <i class="fa-solid fa-backward-step" (click)="previous()"></i>
            
            <div class="play-btn" (click)="togglePlay()">
                <i class="fa-solid" [ngClass]="isPlaying ? 'fa-pause' : 'fa-play'"></i>
            </div>

            <i class="fa-solid fa-forward-step" (click)="next()"></i>
            <i class="fa-solid fa-repeat"></i>
        </div>

        <div class="progress-container">
            <span class="time">{{ currentTime }}</span>
            <div class="progress-bar">
                <div class="fill" [style.width.%]="progress"></div>
            </div>
            <span class="time">{{ duration }}</span>
        </div>
    </div>

    <div class="volume-actions">
        <i class="fa-solid fa-music"></i> <i class="fa-solid fa-list-ul"></i> <i class="fa-solid fa-computer"></i> <i class="fa-solid fa-volume-high"></i> <div class="volume-bar">
            <div class="volume-fill"></div>
        </div>
    </div>
</div>