// Importa as variáveis e mixins globais
@import '../../../styles.scss';

.estatisticas-container {
  // Ocupa a tela inteira e centraliza o conteúdo
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  
  // Fundo padrão Escuro (Dark Mode)
  background-color: var(--azul-muito-escuro-dk); 
  color: var(--branco-dk);
  transition: background-color 0.3s ease, color 0.3s ease;

  // Modo Claro (acionado pela diretiva ngClass no HTML)
  &.tema-claro {
    background-color: var(--branco-lt); // O Fundo branco como você pediu
    color: var(--preto-lt);
  }

  .titulo-especial {
    font-family: var(--fonte-especial); // Fonte MuseoModerno
    margin: 0;
    text-align: center;
    color: var(--branco-dk); // Branco no modo escuro

    // 1. Mobile (Tamanho padrão, telas pequenas)
    font-size: 2rem;

    // 2. Tablet e Notebooks menores (Mixins do styles.scss)
    @include tela-media {
      font-size: 3rem;
    }

    // 3. Telas Grandes (Desktop/Monitores)
    @include tela-grande {
      font-size: 4.5rem;
    }
  }

  // Modifica a cor do título especificamente quando o fundo estiver claro
  &.tema-claro .titulo-especial {
    color: var(--preto-lt); // Preto (ou cinza escuro) no modo claro
  }
}
