// O motor do Angular Material.
@use '@angular/material' as mat;

// Variáveis Globais ===>
:root {
  /*---------- Modo Dark ----------*/

  // Fundo e Superfícies 
  --azul-muito-escuro-dk: #0B1120;
  --azul-escuro-dk: #151E32;
  --azul-medio-dk: #1E2E48;
  --cinza-escuro-dk: #474952;
  
  // Textos e Detalhes
  --branco-dk: #FFFFFF;
  --branco-azulado-dk: #DBF1FF;
  --cinza-claro-dk: #B3B3B3;
  
  
  // Identidade
  --azul-dk: #0285FF;
  --azul-claro-dk: #2C9FFF;
  --verde-spotify-dk: #1DB954;
  --verde-spotify-hover-dk: #1ED760;


  /*---------- Modo Light ----------*/

  // Fundo e Superfícies 
  --branco-lt: #FFFFFF;
  --branco-cinza-lt: #F6F9FF;
  --branco-escuro-lt: #E9F3FF;
  --branco-azulado-lt: #DBF1FF;

  // Textos e Detalhes
  --preto-lt: #0B1120;
  --cinza-escuro-lt: #474952;
  --cinza-claro-lt: #D1D9E6;

  // Identidade
  --azul-lt: #0285FF;
  --azul-claro-lt: #2C9FFF;
  --verde-spotify-lt: #1DB954;
  --verde-spotify-hover-lt: #1ED760;

  /*---------- Fontes ----------*/

  // Padrão
  --fonte-principal: 'Urbanist', sans-serif;

  // Detalhes
  --fonte-especial: 'MuseoModerno', sans-serif;
}

// Media Queries Globais ===>
/*----------Tablet e Notebooks Menores ----------*/
@mixin tela-media {
  @media (min-width: 900px) {
    @content;
  }
}

/*---------- Telas Grandes ----------*/
@mixin tela-grande {
  @media (min-width: 1400px) {
    @content;
  }
}

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      tertiary: mat.$green-palette,
    ),
    density: 0,
  ));
}

body {
  /*---------- Padrão Dark Mode ----------*/
  color-scheme: dark;
  background-color: var(--azul-muito-escuro-dk);
  color: var(--branco-dk);
  font-family: 'Urbanist', sans-serif;
  margin: 0;
  height: 100%;
}

// Importando a Tela de Carregamento.
@import 'preloader';