// O motor do Angular Material.
@use '@angular/material' as mat;

// Variáveis Globais ===>
:root {
  /*---------- Modo Dark ----------*/

  // Fundo e Superfícies 
  --azul-muito-escuro-dk: #0b1120;
  --azul-escuro-dk: #151e32;
  --azul-medio-dk: #1e2e48;
  --cinza-escuro-dk: #474952;
  
  // Textos e Detalhes
  --branco-dk: #ffffff;
  --branco-azulado-dk: #dbf1ff;
  --cinza-claro-dk: #B3B3B3;
  
  
  // Identidade
  --azul-dk: #0285ff;
  --azul-claro-dk: #2c9fff;
  --verde-spotify-dk: #1DB954;


  /*---------- Modo Light ----------*/

  // Fundo e Superfícies 
  --branco-lt: #FFFFFF;
  --branco-cinza-lt: #F6F9FF;
  --branco-escuro-lt: #E9F3FF;
  --branco-azulado-lt: #DBF1FF;

  // Textos e Detalhes
  --preto-lt: #0B1120;
  --cinza-escuro-lt: #474952;
  --cinza-claro-lt: #D1D9E6;

  // Identidade
  --azul-lt: #0285FF;
  --azul-claro-lt: #2C9FFF;
  --verde-spotify-lt: #1DB954;

  /*---------- Fontes ----------*/

  // Padrão
  --fonte-principal: 'Urbanist', sans-serif;

  // Detalhes
  --fonte-especial: 'MuseoModerno', sans-serif;
}

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      tertiary: mat.$green-palette,
    ),
    density: 0,
  ));
}

body {
  // Padrão Dark Mode.
  color-scheme: dark;
  background-color: var(--azul-muito-escuro-dk);
  color: var(--branco-dk);
  font-family: 'Urbanist', sans-serif;
  margin: 0;
  height: 100%;
}

/* Importando a Tela de Carregamento */
@import 'preloader';